<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="teachers" type=""*/-->
    <p th:text="${teachers}"></p>


    <table border="1" cellspacing="0">


        <tr>
            <td>姓名</td>
            <td>出生日期</td>
        </tr>
        <!--/*@thymesVar id="teacherss" type="aj"*/-->
        <tr th:each="teacher:${teacherss}">

            <!--/*@thymesVar id="name" type=""*/-->
            <td th:text="${teacher.name}"></td>
            <td th:text="${teacher.birthday}"></td>
        </tr>
    </table>
</body>
</html>